
* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============common============= */
a{
    text-decoration: none;
}
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn{
    color: #1EBFC1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    display: inline-block;
    padding: 0 23px;
    line-height: 48px;
    min-width: 186px;
}
.btn:hover{
    opacity: 0.9;
}

/* ==========header============= */
.header{
    background: #F2F9FF;
}
.header.fixed{
    position: sticky;
    top: -42px;
    z-index: 1;
}
.header .body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 0 8px;
}
.header .body .nav{
    margin-left: auto;
}
.header .body .nav ul{
    display: flex;
}

.nav ul a,
.header .body .action a:first-child{
    color: #2F3A3B;
    font-size: 1.6rem;
    line-height: normal;
    padding: 8px 20px;
}
.nav ul a:hover,
.header .body .action a:first-child:hover{
    text-shadow: 1px 0 0 currentColor ;
}

.header .body .action{
    margin-left: 137px;
}
.action .btn-sign-up{
    min-width: 108px;
}
.action .btn-sign-up:hover{
    color: #fff;
    background: #1EBFC1;
}

/* ================hero===================== */
.hero{
    padding-top: 42px;
    padding-bottom: 79px;
}

.hero .body{
    display: flex;
    justify-content: space-between;
}
.hero .body .left-block{
    width: 40%;
}
.hero .body .left-block .top-title{
    margin-top: 93px;
    color: #767E7E;
    font-size: 1.4rem;
}

.hero .body .left-block .title{
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
    margin-top: 18px;
}
.hero .body .left-block .desc{
    color: #9DA6A5;
    font-size: 1.8rem;
    line-height: 1.78;
    width: 374px;
    margin-top: 46px;
}
.hero .body .left-block .action{
    margin-top: 52px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.btn-start{
    color: #FFF;
    line-height: 68px;
    border-radius: 14px;
    background: #1EBFC1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero .body .left-block .action .play{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.hero .body .left-block .action .play:hover{
    background: #eee;
    box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
    color: #fff;
    transition: 0.5s;
}
.hero .body .right-block{
    width: 50%;
    position: relative;
}
.hero .body .right-block .media{
    width: 100%;
    height: 631px; 
    object-fit: cover;
}
.hero .body .right-block .courses{
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    position: absolute;
    left: -40px;
    top: 150px;
}
.hero .body .right-block .courses .book{
    width: 36px;
    height: 40px;
}
.hero .body .right-block .courses::after{
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #FFFFFF;
    position: absolute;
    bottom: 26px;
    left: 29px;
    border-radius: 999px;
}
.hero .body .right-block .courses .detail{
    width: 55px;
}
.hero .body .right-block .detail{
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}
.hero .body .right-block .schedules{
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #FFFFFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: -65px;
    bottom: 47px;
}
.hero .body .right-block .schedules .detail{
    margin: 16px 35px 0;
    display: inline-block;
}
.hero .body .right-block .schedules .icon{
    display: block;
    margin: 16px 25px 0;
}
.hero .body .right-block .schedules .schedule-icon-2{
    margin-top: 12px;
}
.hero .body .right-block .schedules .schedule-icon-3{
    margin-top: 10px;
}
.hero .body .right-block .schedules .schedule-icon-4{
    margin: 16px auto 0;
    width: 26px;
    height: 6px;
}

.hero .body .right-block .avatar-group{
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 45px;
    bottom: 42px;
}

.hero .body .right-block .avatar-group .ava{
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -10px;
}
.hero .body .right-block .avatar-group .detail{
    display: inline-block;
    margin: 17px 72px 8px 35px;
}
.hero .body .right-block .avatar-group .avatar-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .body .right-block .avatar-group .avatar-list .ava-more{
    background: #1EBFC1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ava-more span{
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}


/* ================features================= */
.features{
    margin-top: 70px;
}
.features .body-feature{
    padding: 60px 0;
    max-width: 1024px;
}
.features .body-feature .top-title{
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}
.features .body-feature .title{
    margin: 18px 0;
    width: 557px;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}
.features .body-feature .desc{
    width: 590px;
    color: #767E7E;
    font-size: 1.8rem;
    margin-bottom: 80px;
    line-height: normal;
}
.features .body-feature .feature-list{
    display: flex;
    justify-content: space-between;
}
.features .body-feature .feature-list .item-title{
    margin: 26px 0 16px;
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}
.features .body-feature .feature-list .item-desc{
    color: #9DA6A5;
    font-size: 1.6rem;
    line-height: 1.69;
    max-width: 168px;
}
.features .body-feature .feature-list .item-desc:nth-child(2){
    max-width: 223px;;
}
.features .body-feature .feature-list .item-desc:nth-child(3) {
    max-width: 224px;
}